# Auto detect text files and perform LF normalization
* text=auto
samples/ingest/*.pdf binary
samples/ingest/*.jpg binary
samples/ingest/*.jpeg binary
samples/ingest/*.png binary
vendor/ocr/tessdata/*.gz binary
vendor/ocr/core/*.wasm.js binary
vendor/fonts/*.ttf binary
